@charset "UTF-8";
* { margin: auto; }
h1 {
    font-size: 30px;
 	text-align: center;
	border-bottom: 2px solid gray;
    padding: 20px;
}
#product_pic, #product_detail { text-align: center; }
table {
	border-top: 2px solid #444444;
	border-bottom: 2px solid #444444;
    border-collapse: collapse;
  }
  th, td {
    border-bottom: 1px solid #444444;
    padding: 10px;
  }
#review_content { border: 2px solid grey; padding: 5px;}
#review_submit { margin-top: 5px; display:block; }
ul{ list-style:none; }
span { font-size: 12px; }