@charset "UTF-8";
* { margin: auto; text-align: center; }
h1 {
    font-size: 30px;
 	text-align: center;
    border-bottom: 2px solid gray;
    padding: 20px;
}
		
h2 {
	font-size: 25px;
	text-align: center;
	padding: 20px;
	background-color: 8b8378;
}
#table1, #table2, #table3 {
	border-top: 2px solid #444444;
	border-bottom: 2px solid #444444;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*#table1 tr:hover {background-color: #ddd;}*/
tr, td, th {
    border-bottom: 1px solid #444444;
    padding: 10px;
}
#table1 th {
  	background-color: ababab;
}
#tak {
	background-color: #4f4f4f;
 	color: white;
 }
#table2 td { text-align: left;}
fieldset { width: 80%; }
#purcharse { margin-top: 10px; display: block; }